// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body * {
  // text-align: center;
}

h1.index {
  font-size: 2.5em;
}

.welcome {
  font-size: 1.5em;
}

.index li {
  font-size: 2em;
  line-height: 1.5em;
}